<% content_for :head do -%>
<%= stylesheet_link_tag 'search_tag_cloud.css' %>
<% end -%>

<table width="100%">
	<tr>
		<th id="phrase">Phrase</th>
		<th id="single">Single</th>
	</tr>
	<tr>
		<td colspan="2">
			<% @results.each do |k, v| %>
			<div id="region_<%= k.to_s %>">
				<h3><%= k.to_s %> Tag Cloud:</h3>
				<div id="tag_cloud">
					<% v[:tag_cloud].each do |b| %>
					<span style="font-size:<%= b[0] %>px;"><%= b[1] %></span>
					<% end -%>
				</div>
				<table id="search_results_<%= k.to_s %>" class="tablesorter">
					<thead>
						<tr>
							<th width="50%">Search Term</th>
							<th>Count</th>
						</tr>
					</thead>
					<tbody>
						<% v[:records].each do |b| %>
						<tr>
							<td><%= b[1] %></td>
							<td><%= b[0] %></td>
						</tr>
						<% end -%>
					</tbody>
				</table>
			</div>
			<% end -%>
		</td>
	</tr>
</table>


<script type="text/javascript">
$(function() {
	$('#search_results_phrase,#search_results_single').tablesorter();
	$('#phrase').click(function() {
		$(this).removeClass('hidden');
		$('#single').addClass('hidden');
		$('#region_single').hide();
		$('#region_phrase').show();
	});
	$('#single').click(function() {
		$(this).removeClass('hidden');
		$('#phrase').addClass('hidden');
		$('#region_phrase').hide();
		$('#region_single').show();
	});
	$('#single').addClass('hidden');
});
</script>
<script src="/javascripts/jquery.tablesorter.min.js"></script>
